.app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    color: #FFF;
}

span {
    margin: 12px 0;
    color: #FFF;
}

.area-input {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-input input {
    width: 100%;
    margin-bottom: 12px;
    height: 46px;
    background-color: #4B82F2;
    border: 0;
    border-radius: 6px;
    color: #fff;
    padding: 0 12px;
    text-align: center;
    font-size: 18px;
}

.area-input input::placeholder {
    color: rgba(221, 221, 221, 0.733);
}

.area-input input:focus-visible {
    outline: none;
}

.area-input button {
    width: 100%;
    height: 46px;
    border: 2px solid #FFF;
    border-radius: 6px;
    background-color: #12121200;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    transition: ease-in .3s;
}

.area-input button:hover {
    background-color: #FFF;
    border: 2px solid #FFF;
    color: #8257e5;
    font-weight: bold;
    transition: ease-in .3s;
}

h2 {
    margin: 28px 0 0;
    text-align: center;
    color: #FFF;
}